{% extends 'base.html.twig' %}

{% block title %}Projet Dev Web{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    </nav>

    <div id="root"></div>
{% endblock %}