{% extends 'base.html.twig' %}

{% block title %}Projet Dev Web{% endblock %}

{% block stylesheets %}
    <link href="/build/app.css" rel=stylesheet">
{% endblock %}

{% block body %}
    <h1>Page d'acceuil</h1>
{% endblock %}

{% block javascripts %}
    <script src="/build/runtime.js"></script>
{% endblock %}
