<!DOCTYPE html >
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
</head>

<body style="margin: 0;" >

<div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 1286px; height: 909px;">

    <!-- Begin shared CSS values -->
    <style class="shared-css" type="text/css" >
        .t {
            -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            -webkit-transform: scale(0.25);
            -ms-transform: scale(0.25);
            transform: scale(0.25);
            z-index: 2;
            position: absolute;
            white-space: pre;
            overflow: visible;
            line-height: 1.5;
        }
    </style>
    <!-- End shared CSS values -->


    <!-- Begin inline CSS -->
    <style type="text/css" >

        #t1_1{left:576px;bottom:819px;word-spacing:0.1px;}
        #t2_1{left:26px;bottom:793px;word-spacing:0.1px;}
        #t3_1{left:26px;bottom:745px;letter-spacing:0.1px;word-spacing:-0.4px;}
        #t4_1{left:26px;bottom:719px;letter-spacing:0.1px;word-spacing:-0.7px;}
        #t5_1{left:26px;bottom:694px;}
        #t6_1{left:26px;bottom:668px;}
        #t7_1{left:431px;bottom:641px;word-spacing:0.1px;}
        #t8_1{left:26px;bottom:615px;}
        #t9_1{left:26px;bottom:589px;letter-spacing:0.1px;word-spacing:-0.3px;}
        #ta_1{left:26px;bottom:562px;word-spacing:-0.2px;}
        #tb_1{left:114px;bottom:539px;letter-spacing:-0.1px;}
        #tc_1{left:129px;bottom:525px;}
        #td_1{left:307px;bottom:539px;letter-spacing:-0.2px;word-spacing:0.3px;}
        #te_1{left:301px;bottom:525px;letter-spacing:-0.1px;}
        #tf_1{left:405px;bottom:539px;letter-spacing:-0.2px;word-spacing:0.3px;}
        #tg_1{left:413px;bottom:525px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #th_1{left:399px;bottom:511px;letter-spacing:-0.2px;word-spacing:1.1px;}
        #ti_1{left:417px;bottom:496px;}
        #tj_1{left:493px;bottom:539px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #tk_1{left:605px;bottom:539px;letter-spacing:-0.1px;}
        #tl_1{left:605px;bottom:525px;letter-spacing:-0.1px;}
        #tm_1{left:708px;bottom:539px;letter-spacing:-0.1px;word-spacing:0.2px;}
        #tn_1{left:803px;bottom:539px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #to_1{left:918px;bottom:539px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #tp_1{left:1043px;bottom:539px;letter-spacing:-0.1px;}
        #tq_1{left:1041px;bottom:525px;letter-spacing:-0.1px;}
        #tr_1{left:1137px;bottom:539px;letter-spacing:-0.1px;word-spacing:0.2px;}
        #ts_1{left:1175px;bottom:525px;letter-spacing:-0.5px;}
        #tt_1{left:1162px;bottom:511px;letter-spacing:-0.1px;}
        #tu_1{left:31px;bottom:225px;letter-spacing:-0.1px;word-spacing:-0.5px;}
        #tv_1{left:1062px;bottom:225px;}
        #tw_1{left:1172px;bottom:225px;}
        #tx_1{left:948px;bottom:160px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #ty_1{left:1166px;bottom:160px;letter-spacing:-0.3px;}
        #tz_1{left:1056px;bottom:131px;letter-spacing:-0.1px;word-spacing:0.3px;}
        #t10_1{left:1163px;bottom:131px;letter-spacing:-0.1px;}
        #t11_1{left:1181px;bottom:131px;}
        #t12_1{left:1185px;bottom:131px;}
        #t13_1{left:1203px;bottom:131px;}
        #t14_1{left:1206px;bottom:131px;letter-spacing:-0.1px;}

        .s1_1{
            FONT-SIZE: 55px;
            FONT-FAMILY: Arial-BoldMT_9;
            color: rgb(0,0,0);
        }

        .s2_1{
            FONT-SIZE: 55px;
            FONT-FAMILY: Arial-BoldMT_f;
            color: rgb(0,0,0);
        }

        .s3_1{
            FONT-SIZE: 55px;
            FONT-FAMILY: ArialMT_g;
            color: rgb(0,0,0);
        }

        .s4_1{
            FONT-SIZE: 49.1px;
            FONT-FAMILY: TimesNewRomanPSMT_5;
            color: rgb(0,0,0);
        }

        .s5_1{
            FONT-SIZE: 49.1px;
            FONT-FAMILY: TimesNewRomanPS-BoldMT_i;
            color: rgb(0,0,0);
        }

        .s6_1{
            FONT-SIZE: 49.1px;
            FONT-FAMILY: TimesNewRomanPS-BoldMT_o;
            color: rgb(0,0,0);
        }

    </style>
    <!-- End inline CSS -->

    <!-- Begin embedded font definitions -->
    <style id="fonts1" type="text/css" >

        @font-face {
            font-family: Arial-BoldMT_9;
            src: url("formulaire_reglement20030728_annexe_15/fonts/Arial-BoldMT_9.woff") format("woff");
        }

        @font-face {
            font-family: Arial-BoldMT_f;
            src: url("formulaire_reglement20030728_annexe_15/fonts/Arial-BoldMT_f.woff") format("woff");
        }

        @font-face {
            font-family: ArialMT_g;
            src: url("formulaire_reglement20030728_annexe_15/fonts/ArialMT_g.woff") format("woff");
        }

        @font-face {
            font-family: TimesNewRomanPS-BoldMT_i;
            src: url("formulaire_reglement20030728_annexe_15/fonts/TimesNewRomanPS-BoldMT_i.woff") format("woff");
        }

        @font-face {
            font-family: TimesNewRomanPS-BoldMT_o;
            src: url("formulaire_reglement20030728_annexe_15/fonts/TimesNewRomanPS-BoldMT_o.woff") format("woff");
        }

        @font-face {
            font-family: TimesNewRomanPSMT_5;
            src: url("formulaire_reglement20030728_annexe_15/fonts/TimesNewRomanPSMT_5.woff") format("woff");
        }

    </style>
    <!-- End embedded font definitions -->

    <!-- Begin page background -->
    <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
    <div id="pg1" style="-webkit-user-select: none;"><object width="1286" height="909" data="formulaire_reglement20030728_annexe_15/1.svg" type="image/svg+xml" id="pdf1" style="width:1286px; height:909px; -moz-transform:scale(1); z-index: 0;"></object></div>
    <!-- End page background -->


    <!-- Begin text definitions (Positioned/styled in CSS) -->
    <div id="t1_1" class="t s1_1">Annexe 15 - recto</div>
    <div id="t2_1" class="t s2_1">Compléter ou apposer une vignette de l’O.A.</div>
    <div id="t3_1" class="t s3_1">Nom et prénom du patient:</div>
    <div id="t4_1" class="t s3_1">Organisme assureur:</div>
    <div id="t5_1" class="t s3_1">NISS:</div>
    <div id="t6_1" class="t s3_1">Adresse du patient:</div>
    <div id="t7_1" class="t s1_1">ATTESTATION DE FOURNITURES DESTINEE AUX OPTICIENS</div>
    <div id="t8_1" class="t s1_1">A compléter par le dispensateur agréé</div>
    <div id="t9_1" class="t s3_1">Nom et prénom du patient:</div>
    <div id="ta_1" class="t s3_1">Date de naissance du patient:</div>
    <div id="tb_1" class="t s4_1">Dénomination/ </div>
    <div id="tc_1" class="t s4_1">Quantité </div>
    <div id="td_1" class="t s4_1">Numéro de </div>
    <div id="te_1" class="t s4_1">nomenclature </div>
    <div id="tf_1" class="t s4_1">Oeil Droit </div>
    <div id="tg_1" class="t s4_1">(OD) / </div>
    <div id="th_1" class="t s4_1">Oeil Gauche </div>
    <div id="ti_1" class="t s4_1">(OG) </div>
    <div id="tj_1" class="t s4_1">Prix de base </div>
    <div id="tk_1" class="t s4_1">Réduction </div>
    <div id="tl_1" class="t s4_1">éventuelle </div>
    <div id="tm_1" class="t s4_1">Prix réclamé </div>
    <div id="tn_1" class="t s4_1">Prix Nomenclature </div>
    <div id="to_1" class="t s4_1">Intervention OA. </div>
    <div id="tp_1" class="t s4_1">Quote-part </div>
    <div id="tq_1" class="t s4_1">personnelle </div>
    <div id="tr_1" class="t s4_1">Supplément pour </div>
    <div id="ts_1" class="t s4_1">le </div>
    <div id="tt_1" class="t s4_1">patient </div>
    <div id="tu_1" class="t s4_1">Montant total </div>
    <div id="tv_1" class="t s4_1">(1) </div>
    <div id="tw_1" class="t s4_1">(2) </div>
    <div id="tx_1" class="t s5_1">Montant total à charge du patient (1)+(2) </div>
    <div id="ty_1" class="t s6_1">:………………</div>
    <div id="tz_1" class="t s5_1">Date de délivrance : </div>
    <div id="t10_1" class="t s5_1">......</div>
    <div id="t11_1" class="t s5_1">/</div>
    <div id="t12_1" class="t s5_1">......</div>
    <div id="t13_1" class="t s5_1">/</div>
    <div id="t14_1" class="t s5_1">............</div>

    <!-- End text definitions -->


</div>
<div id="p2" style="overflow: hidden; position: relative; background-color: white; width: 1286px; height: 909px;">

    <!-- Begin shared CSS values -->
    <style class="shared-css" type="text/css" >
        .t {
            -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            -webkit-transform: scale(0.25);
            -ms-transform: scale(0.25);
            transform: scale(0.25);
            z-index: 2;
            position: absolute;
            white-space: pre;
            overflow: visible;
            line-height: 1.5;
        }
    </style>
    <!-- End shared CSS values -->


    <!-- Begin inline CSS -->
    <style type="text/css" >

        #t1_2{left:573px;bottom:847px;word-spacing:0.1px;}
        #t2_2{left:26px;bottom:812px;word-spacing:0.2px;}
        #t3_2{left:26px;bottom:790px;letter-spacing:0.1px;word-spacing:-0.1px;}
        #t4_2{left:96px;bottom:790px;letter-spacing:-0.1px;}
        #t5_2{left:115px;bottom:790px;}
        #t6_2{left:119px;bottom:790px;letter-spacing:-0.1px;}
        #t7_2{left:138px;bottom:790px;}
        #t8_2{left:142px;bottom:790px;letter-spacing:-0.1px;}
        #t9_2{left:26px;bottom:768px;letter-spacing:0.2px;}
        #ta_2{left:78px;bottom:768px;}
        #tb_2{left:129px;bottom:768px;word-spacing:0.1px;}
        #tc_2{left:29px;bottom:738px;word-spacing:0.1px;}
        #td_2{left:29px;bottom:715px;letter-spacing:0.1px;word-spacing:-0.4px;}
        #te_2{left:579px;bottom:715px;letter-spacing:-0.1px;word-spacing:0.1px;}
        #tf_2{left:29px;bottom:700px;word-spacing:-0.1px;}
        #tg_2{left:513px;bottom:700px;}
        #th_2{left:780px;bottom:700px;word-spacing:0.2px;}
        #ti_2{left:872px;bottom:700px;word-spacing:-0.1px;}
        #tj_2{left:29px;bottom:684px;letter-spacing:0.1px;word-spacing:-0.4px;}
        #tk_2{left:116px;bottom:684px;letter-spacing:0.1px;}
        #tl_2{left:226px;bottom:684px;}
        #tm_2{left:29px;bottom:668px;word-spacing:-1.1px;}
        #tn_2{left:29px;bottom:646px;letter-spacing:0.1px;}
        #to_2{left:62px;bottom:646px;letter-spacing:-0.1px;}
        #tp_2{left:81px;bottom:646px;}
        #tq_2{left:85px;bottom:646px;letter-spacing:0.1px;}
        #tr_2{left:104px;bottom:646px;}
        #ts_2{left:108px;bottom:646px;letter-spacing:0.1px;}
        #tt_2{left:29px;bottom:620px;word-spacing:-0.1px;}
        #tu_2{left:334px;bottom:620px;}
        #tv_2{left:26px;bottom:590px;}
        #tw_2{left:26px;bottom:567px;word-spacing:-0.2px;}
        #tx_2{left:26px;bottom:546px;letter-spacing:0.1px;}
        #ty_2{left:78px;bottom:546px;}
        #tz_2{left:129px;bottom:546px;word-spacing:0.1px;}
        #t10_2{left:26px;bottom:524px;}
        #t11_2{left:149px;bottom:524px;letter-spacing:0.1px;}
        #t12_2{left:26px;bottom:502px;word-spacing:0.1px;}
        #t13_2{left:26px;bottom:480px;word-spacing:-0.1px;}
        #t14_2{left:26px;bottom:458px;letter-spacing:0.1px;word-spacing:-0.1px;}
        #t15_2{left:26px;bottom:432px;word-spacing:-0.1px;}
        #t16_2{left:26px;bottom:416px;word-spacing:-0.3px;}
        #t17_2{left:333px;bottom:416px;word-spacing:-0.2px;}
        #t18_2{left:26px;bottom:400px;word-spacing:-0.2px;}
        #t19_2{left:495px;bottom:400px;letter-spacing:-0.3px;}
        #t1a_2{left:26px;bottom:369px;letter-spacing:0.1px;word-spacing:-0.3px;}
        #t1b_2{left:734px;bottom:369px;word-spacing:-0.2px;}
        #t1c_2{left:26px;bottom:353px;word-spacing:0.1px;}
        #t1d_2{left:26px;bottom:337px;letter-spacing:0.1px;word-spacing:-0.3px;}
        #t1e_2{left:26px;bottom:315px;word-spacing:-0.2px;}
        #t1f_2{left:568px;bottom:315px;letter-spacing:-0.6px;}
        #t1g_2{left:26px;bottom:299px;}
        #t1h_2{left:62px;bottom:299px;}
        #t1i_2{left:26px;bottom:283px;}
        #t1j_2{left:52px;bottom:283px;}
        #t1k_2{left:669px;bottom:260px;word-spacing:-0.1px;}
        #t1l_2{left:587px;bottom:147px;letter-spacing:-0.1px;}
        #t1m_2{left:27px;bottom:119px;letter-spacing:0.1px;word-spacing:-0.4px;}
        #t1n_2{left:237px;bottom:119px;}
        #t1o_2{left:819px;bottom:119px;letter-spacing:0.1px;}
        #t1p_2{left:856px;bottom:119px;letter-spacing:-0.1px;}
        #t1q_2{left:879px;bottom:119px;}
        #t1r_2{left:883px;bottom:119px;letter-spacing:-0.1px;}
        #t1s_2{left:906px;bottom:119px;}
        #t1t_2{left:910px;bottom:119px;letter-spacing:-0.1px;}
        #t1u_2{left:26px;bottom:80px;}
        #t1v_2{left:153px;bottom:80px;}
        #t1w_2{left:305px;bottom:80px;}
        #t1x_2{left:821px;bottom:80px;}

        .s1{
            FONT-SIZE: 55px;
            FONT-FAMILY: Arial-BoldMT_9;
            color: rgb(0,0,0);
        }

        .s2{
            FONT-SIZE: 55px;
            FONT-FAMILY: ArialMT_g;
            color: rgb(0,0,0);
        }

        .s3{
            FONT-SIZE: 55px;
            FONT-FAMILY: ArialMT_v;
            color: rgb(0,0,0);
        }

        .s4{
            FONT-SIZE: 55px;
            FONT-FAMILY: Arial-ItalicMT_w;
            color: rgb(0,0,0);
        }

        .s5{
            FONT-SIZE: 55px;
            FONT-FAMILY: Arial-ItalicMT_10;
            color: rgb(0,0,0);
        }

    </style>
    <!-- End inline CSS -->

    <!-- Begin embedded font definitions -->
    <style id="fonts2" type="text/css" >

        @font-face {
            font-family: Arial-BoldMT_9;
            src: url("formulaire_reglement20030728_annexe_15/fonts/Arial-BoldMT_9.woff") format("woff");
        }

        @font-face {
            font-family: Arial-ItalicMT_10;
            src: url("formulaire_reglement20030728_annexe_15/fonts/Arial-ItalicMT_10.woff") format("woff");
        }

        @font-face {
            font-family: Arial-ItalicMT_w;
            src: url("formulaire_reglement20030728_annexe_15/fonts/Arial-ItalicMT_w.woff") format("woff");
        }

        @font-face {
            font-family: ArialMT_g;
            src: url("formulaire_reglement20030728_annexe_15/fonts/ArialMT_g.woff") format("woff");
        }

        @font-face {
            font-family: ArialMT_v;
            src: url("formulaire_reglement20030728_annexe_15/fonts/ArialMT_v.woff") format("woff");
        }

    </style>
    <!-- End embedded font definitions -->

    <!-- Begin page background -->
    <div id="pg2Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
    <div id="pg2" style="-webkit-user-select: none;"><object width="1286" height="909" data="formulaire_reglement20030728_annexe_15/2.svg" type="image/svg+xml" id="pdf2" style="width:1286px; height:909px; -moz-transform:scale(1); z-index: 0;"></object></div>
    <!-- End page background -->


    <!-- Begin text definitions (Positioned/styled in CSS) -->
    <div id="t1_2" class="t s1">Annexe 15 - Verso</div>
    <div id="t2_2" class="t s2">Prescrit par </div>
    <div id="t3_2" class="t s2">En date du </div>
    <div id="t4_2" class="t s2">.....</div>
    <div id="t5_2" class="t s2">/</div>
    <div id="t6_2" class="t s2">.....</div>
    <div id="t7_2" class="t s2">/</div>
    <div id="t8_2" class="t s2">.....</div>
    <div id="t9_2" class="t s2">Numéro </div>
    <div id="ta_2" class="t s3">d’identifi</div>
    <div id="tb_2" class="t s2">cation I.N.A.M.I du prescripteur </div>
    <div id="tc_2" class="t s1">A compléter par le patient ou son représentant légal (entourer ce qui convient)</div>
    <div id="td_2" class="t s2">- Je certifie avoir reçu la(les) prestation(s) mentionnée(s) au recto de cette attestation </div>
    <div id="te_2" class="t s2">OUI / NON</div>
    <div id="tf_2" class="t s2">- Je certifie avoir été clairement informé(e) par le dispensateur agréé des coûts </div>
    <div id="tg_2" class="t s1">mentionnés au recto de cette attestation </div>
    <div id="th_2" class="t s2">(montant total, </div>
    <div id="ti_2" class="t s3">intervention de l’organisme assureur et partie entièrement </div>
    <div id="tj_2" class="t s2">à ma charge) </div>
    <div id="tk_2" class="t s2">............................</div>
    <div id="tl_2" class="t s2">OUI / NON </div>
    <div id="tm_2" class="t s2">- Je certifie avoir été suffisamment informé(e) sur la possibilité de recevoir des verres de bonne qualité optique au tarif du remboursement  .. OUI / NON</div>
    <div id="tn_2" class="t s2">Date:</div>
    <div id="to_2" class="t s2">.....</div>
    <div id="tp_2" class="t s2">/</div>
    <div id="tq_2" class="t s2">.....</div>
    <div id="tr_2" class="t s2">/</div>
    <div id="ts_2" class="t s2">.....</div>
    <div id="tt_2" class="t s2">Signature du patient ou de son représentant légal:</div>
    <div id="tu_2" class="t s2">..........................................</div>
    <div id="tv_2" class="t s1">A compléter par le dispensateur agréé</div>
    <div id="tw_2" class="t s2">Nom et prénom du dispensateur agréé : </div>
    <div id="tx_2" class="t s2">Numéro </div>
    <div id="ty_2" class="t s3">d’identifi</div>
    <div id="tz_2" class="t s2">cation INAMI :</div>
    <div id="t10_2" class="t s3">Nom de l’entreprise</div>
    <div id="t11_2" class="t s2">: </div>
    <div id="t12_2" class="t s2">Rue et numéro : </div>
    <div id="t13_2" class="t s2">Commune et code postal : </div>
    <div id="t14_2" class="t s2">Numéro BCE:</div>
    <div id="t15_2" class="t s2">Je confirme avoir personnellement effectivement essayé, adapté et délivré la (les) prestation(s) susmentionnée(s) (3) </div>
    <div id="t16_2" class="t s2">Je confirme avoir suffisamment informé le patient </div>
    <div id="t17_2" class="t s2">sur la possibilité de recevoir des verres de bonne qualité optique au tarif du remboursement. </div>
    <div id="t18_2" class="t s3">Je confirme avoir fourni au patient un document justificatif détaillé de l’achat (</div>
    <div id="t19_2" class="t s2">4) </div>
    <div id="t1a_2" class="t s4">(3) Les mots « essayé » et « adapté » sont, dans le cas de lentilles de contact, à supprimer si le dispensateur agréé </div>
    <div id="t1b_2" class="t s5">n’est pas habilité à effectuer de telles prestations et/ou si le dispensateur agréé </div>
    <div id="t1c_2" class="t s4">n'a pas réalisé lui-même l'adaptation. </div>
    <div id="t1d_2" class="t s4">(4) A supprimer si seules des prestations remboursables ont été délivrées.</div>
    <div id="t1e_2" class="t s3">En cas de tiers payant, cette attestation est payable par l’organisme assureur au compte</div>
    <div id="t1f_2" class="t s2">: </div>
    <div id="t1g_2" class="t s2">IBAN </div>
    <div id="t1h_2" class="t s3">……………………………………………………………………………………….. </div>
    <div id="t1i_2" class="t s2">BIC </div>
    <div id="t1j_2" class="t s3">………………………………………………………………………………………….</div>
    <div id="t1k_2" class="t s2">Date et signature du dispensateur agréé:</div>
    <div id="t1l_2" class="t s1">RECU</div>
    <div id="t1m_2" class="t s2">Perçu pour le compte du n° BCE : </div>
    <div id="t1n_2" class="t s2">..............................</div>
    <div id="t1o_2" class="t s2">Date: </div>
    <div id="t1p_2" class="t s2">.....</div>
    <div id="t1q_2" class="t s2">/</div>
    <div id="t1r_2" class="t s2">.....</div>
    <div id="t1s_2" class="t s2">/</div>
    <div id="t1t_2" class="t s2">.....</div>
    <div id="t1u_2" class="t s2">Reçu la somme de : </div>
    <div id="t1v_2" class="t s2">.......................................</div>
    <div id="t1w_2" class="t s2">EUR</div>
    <div id="t1x_2" class="t s2">Signature</div>

    <!-- End text definitions -->


</div>
</body>
</html>