{% extends 'base.html.twig' %}

{% block title %}Hello ParametreController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="dropdown-item" href="/parametre/precripteur">Prescripteur</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="/parametre/inami">INAMI</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Partie Parametre</h1>
{% endblock %}
