{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    <h1>Partie Commande</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom du Client</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Etat</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Default</th>
                        <td>###</td>
                        <td>Column content</td>
                        <td class="bg-warning mb-3">En commande</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>###</td>
                        <td>Column content</td>
                        <td class="bg-success mb-3" >Reçu</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>###</td>
                        <td>Column content</td>
                        <td class="bg-warning mb-3">En commande</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
