body, html {
    height: 100px;
}

.imgHome{
    max-width: 60%;
}
.c-img{
    max-width: 100px;
}

.full-height {
    height: 100%;
}

.btn-client{
    width : 150px;
}
 .bg-teal{
     background-color: #008080;
 }

 .bg-darkSalmon{
     background-color: #E9967A;
 }

 input{
     height: 2px;
 }